

#productOder{
	margin-top: 15px;
}


/*-------------Menuorder_Left-------------*/

#productOder .choosePrice label{
	color: #E34D07;
	font-size: 12px;
}
#productOder .chooseStart label{
	color: #E34D07;
	font-size: 12px;
}

#productOder .form-check label ,#productOder .form-check input{
	cursor: pointer;
}


/*-------------Menuorder_Mid--------------*/

#productOder .devvn_menuorder_mid{
	/*margin-top: 15px;*/
}

#productOder .menuorder-searchbox{
	margin-bottom: 13px;
}

#productOder .menuorder-searchbox input{
	width: 100%;
	height: 40px;
    border-radius: 3px;
    font-size: 18px;
    border: 1px solid #E0E0E0;
    position: relative;
    outline: none;
    text-align: left;
    padding-left: 10px;
    margin-left: 0px;
}

#productOder .menuorder-searchbox .search{
	position: absolute;
	right: 26px;
    top: 6px;
    font-size: 24px;
    opacity: 0.5;
}

#productOder .menuorder-list-prod-title{
	height: 40px;
	width: 100%;
	background-color: #E31907;
	border-radius: 6px;
	line-height: 40px;
	text-align: left;
	padding-left: 10px;
	font-weight: 600;
	color: white;
	font-family: helvetica-Bold;
	margin-bottom: 6px;
}

#productOder .menuorder-list-prod-box{
	display: flex;
	position: relative;
	border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 14px;
    width: 100%;
    height: 130px;
}

#productOder .menuorder-prod-img{
	width: 20%;
	margin-right: 8px;
	border-radius: 4px;
}

#productOder .prod-title{
	color: #E31907;
	font-family: helvetica-Bold;
}

#productOder .prod-desc{
	font-size: 13px;
    line-height: 19px;
    height: 60px;
    overflow: hidden;
}

#productOder .prod-price{
	font-family: helvetica-Bold;
	position: absolute;
	bottom: 10px;
}

#productOder .starDish{
	position: absolute;
	bottom: 11px;
    left: 170px;
    color: #F90000;
}

/*#productOder .icomPlus{
	position: absolute;
	bottom: 10px;
    right: 3px;
    font-size: 24px;
    cursor: pointer;
}*/
#productOder .btn-OderIteam{
	float: right;
}







/*---------Input-Radio-----------------------*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #D81515;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.describeDetails h3{
	font-size: 230%;
	color: #FC6703;
	padding-bottom: 10px;
	text-align: center;
}

#productOder .hr-describeDetails{
	width: 300px;
	height: 2px;
	background-color: #FC6703;
	margin: auto;
	margin-bottom: 20px;
}

.describeDetails p{
	font-size: 150%;
	text-align: center;
}