@font-face {
  src: url(font/helvetica/helveticaneue.ttf);
  font-family: helvetica-Thin;
}
@font-face {
  src: url(font/helvetica/helveticaneuebold.ttf);
  font-family: helvetica-Bold;
}

*{
  margin: 0px;
  box-sizing: border-box;
  font-family: helvetica-Thin;
  font-size: 16px;
}
.showDetails{
  display: block !important;
}

.hiddenDetails{
  display: none !important;
}

#productOder{
  /*display: none;*/
}
#pageLogin{
  /*display: none;*/
}
#registration{
  /*display: none;*/
}
.simpleSlider{
  /*display: none;*/
}


.shadowBox{
  /*border: 1px solid #C3C3C3;*/
  margin-top: 5px;
  box-shadow: 1px 1px 10px 2px #D8D7D7;
  /*padding: 10px;*/
}

/*----------------------Admin-------------------*/

.admin{
  width: 100%;
  height: 30px;
  background-color: #000000;
  color: #FFFFFF;
}
.admin a{
  float: right;
  margin-right: 10px;
  cursor: pointer;
  line-height: 30px;
  text-decoration: underline #FFFFFF ;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main-admin {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.orderManagement .dateOder{
  margin-top: 0px ;
}

.orderManagement .titelCart h3{
  font-family: helvetica-Bold;
}

.history .dateOder{
  font-size: 130%;
  float: left;
}
.history .dateOder div{
  font-family: helvetica-Bold;
}
.history .dateOder span{
  font-size: 130%;
}

.history .dropdown{
  float: right;
  margin-right: 45px;
}
.history .btn-delete{
  margin-right: 10px;
}

.history .btn-delete-all{
  margin-right: 45px;
  margin-bottom: 20px;
  float: right;
}

.userManagement .btn-del-use{
  height: 33px;
  line-height: 20px;
}










/*--------------------NAV---------------*/



.nav-control{
  width: 100%;
  height: 60px;
}

.logoCoffee{
	width: 100px;
  height: 67px;
}

.amountCart{
	position: relative;
  margin-right: 20px;
  cursor: pointer;
  margin: auto;
}

.icomCart{
 color: #FF7C42;
}

.amountOder{
  position: absolute;
  top: -14px;
  left: 10px;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-family: Roboto-Bold;
  font-size: 100%;
}

.iteam-Menu a{
  font-size: 150%;
  color: #505050 !important;
  font-family: helvetica-Bold;
}

.active{
  border-bottom: 4px solid #0BD1FB;
}

.iteam-Menu li{
  margin-left: 10px;
  padding: 0px;
  border-left: 1px solid #EAE8E8;
  border-right: 1px solid #EAE8E8;
  transition: all .2s; 
}

.iteam-Menu li:hover{
  border-bottom: 4px solid #0BD1FB;
}


.nav-LeftIn{
  display: flex;
}

.LoginRegistration{
  margin-right: 20px;
  display: flex;
}

.mainLogin{
	border: 1px solid #B2B0B0 !important;
	margin-right: 5px;
}

.registration{
	border: 1px solid #B2B0B0 !important;
}

.greeting{
  margin: auto;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: underline;
}

.btn-logout{
}


/*---------------simpleSlider------------*/

.menu-title{
  font-size: 200%;
  color: #FB7108;
  font-family: helvetica-Bold;
}

.hr-menu-title{
  width: 80px;
  height: 3px;
  background-color: #FB7108;
  margin-bottom: 30px;
}

.simpleSlider{
  position: relative;
  height: 400px;
  overflow: hidden;
}

.simpleSlider .bt-previous{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  color: #FB7108;

}

.simpleSlider .bt-previous i, 
.simpleSlider .bt-next i{
  font-size: 135%;
  cursor: pointer;
}

.simpleSlider .bt-next{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  color: #FB7108;
}
.simpleSlider img{
  width: 100%;
  height: 100%;
}

/*---------------------Menu-Chính--frontMain--------------------------*/

#frontMain{
  margin-top: 15px;
}

.iteam-frontmain{
  margin-bottom: 10px;
  height: 600px;
}

.cardIteamWap{

  border:2px solid #0C2AA9;
}

.iteam-frontmain .card-img-top{
  transition: all .8s;
}

.iteam-frontmain:hover .card-img-top{
  transform: scale(1.1);
}

.wap-Image{
  /*height: 350px;*/
  overflow: hidden;
  position: relative;
}

.btn-oder{
  position: absolute;
  bottom: -41px;
  /*left: 50%;*/
  /*transform: translate(-30%,0);*/
  width: 100%;
  background-color: #5CA0F4;
  /*padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #FFFFFF;*/
  opacity: 0;
  transition: all .8s;
}
.btn-oder h3{
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
}

.iteam-frontmain:hover .btn-oder,
.iteam-frontmain:active .btn-oder{
  opacity: 1;
  bottom: 0px;
}

.card-item{

}

.card-title{
  color: #E34D07;
  font-size: 150%;
  font-family: helvetica-Bold;
}

.card-text{
  height: 50px;
  overflow: hidden;
}

.cart-btn{
  
}
.btn-OderIteam{
  float: left;
}

.btn-Oder{
  margin-left: 5px;
  color: #FFFFFF;
  z-index: 3;
}

.btn-Oder:hover{
  background-color: #FFFFFF;
  color: #070707;
}
.startIteamm{
  float: right;
  color: #F90000;
}

.selling{
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: #EA8025;
  height: 35px;
  padding-right: 10px;
}
.selling img{
  width: 45px;
  height: 40px;
}
.selling span{
  font-size: 80%;
  font-family: helvetica-Bold;
  line-height: 35px;
  color: #FFFFFF;
}

/*-------------Menuorder_Right-------------------------------------*/

.devvn_menuorder_right{
  /*margin-top: 10px;*/
}

.minicart_title{
  height: 35px;
  font-family: helvetica-Bold;
  border-bottom: 1px solid #ccc;
  line-height: 35px;
  padding-left: 5px;
    font-size: 15px;
    color: #909090;
}

.cart-iteam{
  display: flex;
  position: relative;
  border-bottom: 1px solid #ccc;
  height: 72px;
}

.amount-dish{
  width: 40px;
  height: 40px;
  background-color: #E31907;
  border-radius: 40px;
  margin-top: 10px;
  margin-left: 7px;
  position: relative;
}

.amount-dish span{
  position: absolute;
    top: 5px;
    left: 15px;
    font-size: 20px;
    font-family: 'helvetica-Bold';
    color: white;
}

.product-name{
  margin-left: 10px;
  margin-top: 9px;
}

.product-name span{
  font-family: 'helvetica-Bold';
}

.topping_cart_item{
  font-size: 15px;
}

.menuorder_price_action{
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.Price-amount{
  text-align: center;
  font-family: 'helvetica-Bold';
  margin-left: 66px;
}

.menuorder_action{
}

.menuorder_action button{
  height: 30px;
    line-height: 15px;
    margin-left: 3px;
    border-radius: 7px;
}

.cart-subtotal{
  display: flex;
  height: 44px;
    border-bottom: 1px solid #ccc;
    line-height: 44px;
    position: relative;
}

.woocommerce-Price-amount{
  position: absolute;
  right: 5px;
  font-family: 'helvetica-Bold';

}

.minicart_footer{
  padding: 8px;
}

.menuorder-btn{
  background-color: #E31907 !important;
  width: 100%;
  font-family: 'helvetica-Bold';
  color: #FFFFFF;
  border-radius: 5px;
}


/*---------------------View-Cart--------------------------------*/
.wrap-viewCart{
  margin-left: 0px !important;
}

.iconClose{
  display: none;
}

.viewCart{
  margin-top: 10px;
  padding-left: 30px;
  position: relative;
}

.titelCart{
  color: #FC6703;
  margin-top: 30px;
  margin-bottom: 20px;
}

.titelCart>.hr-describeDetails{
  width: 100%;
  height: 3px;
  background-color: #FC6703;
  float: left;
  margin-bottom: 30px !important;
}

.wrapInputCart{
  clear: both;
}

.wrapInputCart h5{
  margin-left: 10px;
  color: #FC6703;
  float: left;
}

.wrapInputCart span{
  color: #FF0000;
  float: right;
}

.wrapInputCart input{
  font-size: 120% !important;
  height: 45px !important;
  text-align: left !important;
  padding-left: 7px !important;
  width: 100% !important;
}

.wrapInputCart textarea{
  height: 100px ;
  margin-left: 5px ;
  padding-left: 7px ;

  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  font-size: 120%;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  resize:none
}

.oderNow-btn{
  margin-left: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: red !important;
}

/*---------------ProductDetails-----------*/


.productDetails{
  /*margin-top: 15px;*/
  padding-right: 10px;
}

.wrapControl{
  height: 370px;
  margin-bottom: 60px;
}

.imageDetails{
  margin-top: 10px;
  position: relative;
}

.imageDetails img{
  width: 100%;  
  border-radius: 10px;

}

.imageDetails img:hover{
  border: 2px solid #42E0FC;
  filter: brightness(55%) blur(2px);
}


.imageDetails h3{
  color: #FFFFFF;
  text-align: center;
}
.picture-titel{
  transition: all 1s;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
}
.imageDetails img:hover + .picture-titel,
.imageDetails .picture-titel:hover{
  transform: translate(-50%,-150px);
  opacity: 1;
}


.controlDetails{
  margin-top: 10px;
  position: relative;
}

.iconClose{
  display: block;
  position: absolute;
  color: red;
  font-size: 200%;
  top: 0px;
  right: 15px;
  cursor: pointer;
}

.nameDetails{
  font-size: 230%;
  color: #FC6703;
  border-bottom: 3px solid #FC6703;
  padding-bottom: 30px;
  margin-top: 20px;
}

.menuorder-topping{
  border-bottom: 1px solid #E0E0E0;
}

.topping-checkbox-list{
  width: 100%;
  margin-left: 15px;
  margin-bottom: 5px;
}

.topping-checkbox-list span{
  margin-left: 5px;
}

.topping-titel{
  font-size: 130%;
  margin: 13px 0px;
}

.amountDetails{
  font-family: 'helvetica-Bold';
  font-size: 120%;
  color: #FC6703;
  margin: 20px 0px;
}

.oderDetails{
  background-color: #FC6703; /* Màu của Quản trị mạng ^^ */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 13px;
    bottom: 2px;
}

.startDetails{
  color: #F90000;
}

.oderDetails:hover{
  background-color: white;
  color: black;
  border: 1px solid #FC6703;
}

.describeDetails{
  padding-bottom: 30px;
}

.describeDetails .hr-describeDetails{
  width: 100% !important;
}

/*.container{
  background-color: #2B0606;
}*/
/*----------------------------showSuccess------------------------*/
.showSuccess .titelCart h3{
  padding-top: 10px;
  text-align: center;
}

.showSuccess .titelCart .hr-describeDetails{
  margin: auto;
  float: none;
}

.showSuccess  .oderNow{
  width: 178px;
  margin: auto;
}

.showSuccess .titelCart p{
  text-align: center;
  font-size: 130%;
}

/*----------------------------Responsive------------------------*/

@media only screen and (max-width: 1199px) and (min-width: 992px){
  .fa-star{
    font-size: 80%;
  }
  .starDish{
    left: 143px !important;
  }
  .card-body .amountDetails{
    margin: 0px;
    float: left;
  }
  .iteam-frontmain {
    height: 510px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 769px){
  *{
    font-size: 14px !important;
  }
  .nav-control {
    height: auto;
  }
  .nav-ct{
    position: relative;
  }
  .toggler-ct{
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .nav-LeftIn{
    position: absolute;
    left: 57%;
    top: 30px;
  }
  .choosePrice form ,
  .chooseStart form{
    display: flex;
  }
  .choosePrice h5,
  .chooseStart h5{
    margin-left: 15px;
  }
  #productOder .menuorder-searchbox .search{
    top: 15px !important;
  }
  #footer .social-icons i{
    font-size: 170% !important;
  }
  .icon-footer{
    margin-left: 40% !important;
  }
  .iteam-frontmain {
    height: 400px !important;
  }
  .card-text {
    height: 42px;
  }
  .card-body .amountDetails {
    float: left;
    margin: 0px;
  }
  .btn-OderIteam {
    margin-top: 10px;
  }
  .wrapControl {
    margin-bottom: 20px;
  }
  .bt-next i,
  .bt-previous i{
    font-size: 210% !important;
  }
  .picture-titel{
    bottom: 85px !important;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px){
  *{
    font-size: 9px !important;
  }
  .nav-control {
    height: auto;
  }
  .nav-ct{
    position: relative;
  }
  .toggler-ct{
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .nav-LeftIn{
    position: absolute;
    left: 60%;
    top: 30px;
  }
  .choosePrice form ,
  .chooseStart form{
    display: flex;
  }
  .choosePrice h5,
  .chooseStart h5{
    margin-left: 15px;
  }
  .LoginRegistration {
    margin-right: 10px;
    display: flex;
  }
  .amountOder{
    width: 13px;
    height: 13px;
    border-radius: 13px;
  }
  .menuorder-searchbox input{
    height: 33px !important;
  }
  .menuorder-list-prod-box{
    height: 100px !important;
  }
  .cart-iteam{
    height: 50px !important;
  }
  .amount-dish{
    width: 20px;
    height: 20px;
  }
  .amount-dish span{
    top: 3px;
    left: 8px;
  }
  .menuorder_action button{
    height: 23px !important;
  }
  .cart-subtotal{
    height: 30px;
    line-height: 30px;
  }
  #footer .social-icons{
    width: 29px !important;
    height: 29px !important;
    border-radius: 29px !important;
  }
  #footer .social-icons i{
    left: 6px !important;
    font-size: 170% !important;
  }
  #productOder .starDish{
    left: 120px !important;
  }
  #productOder .menuorder-searchbox .search{
    top: 15px !important;
  }
  #footer .icon-footer{
    margin-left: 40% !important;
  }
  .iteam-frontmain {
    height: 405px !important;
  }
  .nameDetails {
    padding-bottom: 9px;
    margin-top: 9px;
  }
  .productDetails .wrapControl{
    height: 282px;
    margin-bottom: 0px;
  }
  .bt-next i,
  .bt-previous i{
    font-size: 280% !important;
  }
  .simpleSlider{  
    height: 287px;
  }
}
@media only screen and (max-width: 575px) and (min-width: 430px){
  * {
    font-size: 14px !important;
  }
  .nav-control {
    height: auto;
  }
  .nav-ct{
    position: relative;
  }
  .toggler-ct{
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .nav-LeftIn{
    position: absolute;
    left: 30% !important;
    top: 30px;
  }
  #productOder .menuorder-searchbox .search{
    top: 15px !important;
  }
  .menuorder-list-prod-box {
    height: 130px !important;
  }
  .starDish {
    left: 182px !important;
  }
  .nav-LeftIn {
    left: 44%;
  }
  .amountOder{
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .choosePrice form ,
  .chooseStart form{
    display: flex;
  }
  .choosePrice h5,
  .chooseStart h5{
    margin-left: 15px;
  }
  .devvn_menuorder_right{
    display: none !important;
  }
  #footer .icon-footer{
    margin-left: 40% !important;
  }
  #footer .social-icons{
    width: 29px !important;
    height: 29px !important;
    border-radius: 29px !important;
  }
  #footer .social-icons i{
    left: 5px !important;
    font-size: 130% !important;
  }
  .card-text {
    height: 42px;
  }
  .card-body .amountDetails {
    float: left;
    margin: 0px;
  }
  .btn-OderIteam {
    margin-top: 10px;
  }
  .iteam-frontmain {
    height: 430px !important;
  }
  .imageDetails{
    padding: 15px;
  }
  .bt-next i,
  .bt-previous i{
    font-size: 200% !important;
  }
  .simpleSlider{  
    height: 287px;
  }
}

@media only screen and (max-width: 454px){
  * {
    font-size: 10px !important;
  }
  .iteam-frontmain {
    height: 340px !important;
  }
  .card-body .amountDetails {
    float: left;
    margin: 0px;
  }
  .btn-OderIteam {
    margin-top: 10px;
  }
  .simpleSlider{  
    height: 232px;
  }
}

@media only screen and (max-width: 429px){
  * {
    font-size: 10px !important;
  }
  .nav-control {
    height: auto;
  }
  .nav-ct{
    position: relative;
  }
  .toggler-ct{
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .nav-LeftIn{
    position: absolute;
    left: 35% !important;
    top: 30px;
  }
  #productOder .menuorder-searchbox .search{
    top: 18px !important;
  }
  #productOder .menuorder-searchbox .search i{
    font-size: 120% !important;
  }
  .menuorder-list-prod-box {
    height: 130px !important;
  }
  .starDish {
    left: 120px !important;
  }
  .nav-LeftIn {
    left: 44%;
  }
  .amountOder{
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .choosePrice form ,
  .chooseStart form{
    display: flex;
  }
  .choosePrice h5,
  .chooseStart h5{
    margin-left: 15px;
  }
  .devvn_menuorder_right{
    display: none !important;
  }
  #footer .icon-footer{
    margin-left: 40% !important;
  }
  #footer .social-icons{
    width: 18px !important;
    height: 18px !important;
    border-radius: 18px !important;
  }
  #footer .social-icons i{
    left: 2px !important;
    top: 2px !important;
    font-size: 130% !important;
  }
  .menuorder-list-prod-box{
    height: 108px !important;
  }
  .amountOder{
    width: 13px;
    height: 13px;
    border-radius: 13px;
  }
  .bt-next i,
  .bt-previous i{
    font-size: 210% !important;
  }
  .fadeIn.fourth {
    padding: 15px;
    width: 50%;
  }
}

@media only screen and (max-width: 370px){
  * {
    font-size: 10px !important;
  }
  .logoCoffee {
    width: 75px;
    height: 51px;
  }
  .nav-LeftIn {
    left: 44% !important;
    top: 4px;
  }
  .LoginRegistration {
    margin-right: 11px;
  }
  .toggler-ct {
    position: absolute;
    right: 15px;
    top: 36px;
  }
  .#productOder .prod-desc{
    line-height: 15px !important;
  }
  .simpleSlider{  
    height: 183px;
  }
}